/* Base Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin-panel {
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group textarea, .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.image-input input {
  flex-grow: 1;
  margin-right: 10px;
}

/* Adjust Button styles if necessary */

/* Responsiveness */
@media (max-width: 768px) {
  .admin-panel {
      width: 90%;
      padding: 15px;
  }

  .form-group textarea, .form-group input {
      padding: 8px;
  }
}
