.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-container {
  position: fixed; /* Plasserer knappene relativt til viewport */
  bottom: 20px; /* Avstand fra bunnen */
  right: 20px; /* Avstand fra høyre side */
  display: flex; /* For å plassere knappene ved siden av hverandre */
  gap: 10px; /* Legger til litt plass mellom knappene */
}

/* Tilpass knappe-styling etter behov */
.btn-outline-primary, .btn-outline-success {
  padding: 10px 20px; /* Øker padding for en større knapp */
  font-weight: bold; /* Gjør teksten fet */
  transition: all 0.2s ease-in-out; /* Glatt overgang for hover-effekter */
}

.btn-outline-primary:hover, .btn-outline-success:hover {
  transform: scale(1.1); /* Forstørrer knappene litt ved hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Legger til skyggeeffekt for dybde */
}


iframe {
  margin-top: 31%; /* Øker toppmargen for å flytte klokken nedover */
  margin-left: 10%;

}

iframe:hover {
  /* Nøytraliser alle effekter som kan være definert */
  transform: none;
  box-shadow: none;
  /* Eventuelle andre egenskaper som må tilbakestilles */
  transform: scale(1.1); /* Forstørrer klokken ved hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Skyggeeffekt */
}

.large-image-container {
  position: absolute;
  top: 50%;
  left: 10%; /* Adjust as necessary to position the image on the left */
  transform: translateY(-50%);
  width: 20%; /* Adjust based on desired image size */
  height: auto;
  z-index: -1; /* Ensure it doesn't overlap interactive elements */
}

.large-image {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional, for rounded corners */
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effects */
  transition: opacity 2s ease-in-out; /* Jevn overgang for opacity */

}

.large-image:hover {
  transform: scale(1.05); /* Slightly enlarge image on hover */
}

